body {
  font-family: "Open Sans Condensed", sans-serif;
}

.thin {
  font-family: "Open Sans", sans-serif;
}

.light {
  font-family: "Open Sans Condensed", sans-serif;
}

.regular {
  font-family: "Open Sans Condensed", sans-serif;
}

.bold {
  font-family: "Open Sans Condensed", sans-serif;
}

header {
  font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
}
